<div class="card">
  <div class="card-header" data-background-color="blue">
    <h4>ایجاد پایه جدید</h4>
    <p>در این قسمت میتوانید پایه جدید تعریف کنید</p>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-5">
        <h3 class="heading">مشخصات پایه</h3>
        <div class="form-group label-floating">
          <label class="control-label">عنوان</label>
          <input
            type="text"
            name="title"
            required
            class="form-control"
            [(ngModel)]="grade.title"
          />
        </div>
        <div class="form-group label-floating">
          <label class="control-label">توضیحات</label>
          <textarea
            name="description"
            class="form-control"
            [(ngModel)]="grade.description"
          ></textarea>
        </div>
      </div>
      <div class="col-md-7">
        <h3 class="heading">لیست دروس</h3>
        <table class="table table-stript">
          <thead>
            <tr>
              <th>عنوان</th>
              <th>توضیحات</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lesson of grade.lessons">
              <td>{{ lesson.title }}</td>
              <td>{{ lesson.description }}</td>
              <td width="10">
                <a
                  class="btn btn-sm btn-simple btn-danger"
                  (click)="deleteLesson(lesson)"
                >
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="newLesson.title"
                  name="title"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="newLesson.description"
                  name="description"
                />
              </td>
              <td width="10">
                <a
                  class="btn btn-sm btn-simple btn-success"
                  (click)="saveLesson()"
                >
                  <i class="material-icons">done</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center">
        <button class="btn btn-success" disabled]="isProcessing" (click)="submit()">{{ isProcessing ? '...' : 'ثبت' }}</button>
      </div>
    </div>
  </div>
</div>
