<!-- with icons and horizontal -->
<ul class="nav nav-pills nav-pills-icons nav-pills-primary" role="tablist">
	<li routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}">
		<a [routerLink]="'/users'">
			<i class="material-icons">list</i>
			لیست کاربران
		</a>
	</li>
	<li routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}">
		<a [routerLink]="'create'" >
			<i class="material-icons">add</i>
			ایجاد کاربر جدید
		</a>
	</li>
</ul>

<router-outlet></router-outlet>
