<div class="logo">
  <!-- <a href="https://tad-group.ir" class="simple-text">
    <span>گروه نرم افزاری تاد </span>
    <div class="logo-img">
      <img src="http://tad-group.ir/Content/img/telegram-logo.png" />
    </div>
  </a> -->
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <li
        *ngFor="let menuItem of menuItems"
        routerLinkActive="active"
        class="{{ menuItem.class }}"
      >
        <a [routerLink]="[menuItem.path]">
          <i class="material-icons">{{ menuItem.icon }}</i>
          <p>{{ menuItem.title }}</p>
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="material-icons">exit_to_app</i>
          <p>خروج</p>
          </a>
      </li>
    </ul>
  </div>
</div>
