<div class="card">
  <div class="card-header" data-background-color="blue">
    <h4>ایجاد کاربر جدید</h4>
    <p>در این قسمت میتوانید کاربر جدید تعریف کنید</p>
  </div>
  <div class="card-content">
    <form class="form" (ngSubmit)="submit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="form-group label-floating">
            <label class="control-label">نام کاربری</label>
            <input type="text" name="username" required class="form-control" [(ngModel)]="user.username">
          </div>

          <div class="form-group label-floating">
            <label class="control-label">کلمه عبور</label>
            <input type="{{passwordType}}" name="password" required class="form-control" [(ngModel)]="user.password">
            <button type="button" class="btn btn-info btn-xs" (click)="toggleShowPassword()">{{passwordBtnText}}</button>
          </div>

          <div class="row">
            <div class="col-md-2" *ngFor="let role of userRoles">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="active" [checked]="isInRole(role)" (change)="onRoleChange(r, role)" #r> {{role}}
                </label>
              </div>
            </div>
          </div>
          <hr class="divider" />
          <div class="checkbox">
            <label>
              <input type="checkbox" name="active" [checked]="user.active"> فعال
            </label>
          </div>

        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success">ثبت</button>
      </div>
    </form>
  </div>
</div>
