<div class="wrapper">
  <div *ngIf="!!user" class="sidebar" data-color="red" data-image="">
    <!-- <app-sidebar-cmp *ngIf="authService.getCurrentUser()" ></app-sidebar-cmp> -->
    <app-sidebar-cmp></app-sidebar-cmp>
    <div
      class="sidebar-background"
      style="background-image: url(../assets/img/sidebar-4.jpg)"
    ></div>
  </div>
  <div [ngClass]="{ 'main-panel': !!user }">
    <navbar-cmp></navbar-cmp>
    <div class="main-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer-cmp></footer-cmp>
  </div>
</div>
