<app-personnel-start></app-personnel-start>
<div class="card">
  <div class="card-header" data-background-color="blue">
    <h4>ایجاد پرسنل جدید</h4>
    <p>در این قسمت میتوانید پرسنل جدید تعریف کنید</p>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-6">
        <h3>مشخصات پرسنل</h3>
        <app-person-create
          *ngIf="!isLoading"
          [enableSubmit]="false"
          [person]="person"
          (personUpdate)="updatePerson($event)"
          (loadPersonByCode)="loadPersonByCode($event)"
          (loadPersonByNationalCode)="loadPersonByNationalCode($event)"
        ></app-person-create>
      </div>
      <div class="col-md-6">
        <ng-select2
          [data]="roles"
          [options]="select2Options"
          [width]="500"
          [(ngModel)]="roleIds"
        >
        </ng-select2>
      </div>
      <div class="form-group text-center">
        <button
          class="btn btn-success"
          [disabled]="isProcessing"
          (click)="submit()"
        >
          {{ isProcessing ? '...' : 'ثبت' }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <app-isloading></app-isloading>
  </div>
</div>
