<!-- with icons and horizontal -->
<ul class="nav nav-pills nav-pills-icons nav-pills-primary" role="tablist">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="'/school'">
      <i class="material-icons">list</i>
      لیست مکتب ها
    </a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="'/school/create'">
      <i class="material-icons">add</i>
      ایجاد مکتب جدید
    </a>
  </li>
</ul>
